@page
@model IndexModel
@{
    ViewData["Title"] = "In Memory";
}

<table>
    <tr>
        <td align="center">
            <img src="~/Images/DuffyCrest-2.gif" alt="A Duffy Family Crest" title="A Duffy Family Crest" height="400" />
        </td>
        <td align="center">
            <img src="~/Images/Bernard Duffy.jpeg" height="400" alt="Bernard Duffy" title="Bernard Duffy" />
        </td>
        <td align="center">
            <img src="~/Images/&Eacute;amonn Duffy - Cropped.jpg" height="400" alt="&Eacute;amonn Duffy" title="&Eacute;amonn Duffy" />
        </td>
        <td align="center">
            <img src="~/Images/Simba.jpg" height="400" alt="Simba" title="Simba" />
        </td>
    </tr>
    <tr>
        <td align="center">A Duffy Family Crest</td>
        <td align="center">Bernard Duffy (Rest In Peace)</td>
        <td align="center">&Eacute;amonn Duffy</td>
        <td align="center">Simba</td>
    </tr>
</table>
<br />
<p>This is www.Duffy.global. A work in progress. Please visit again as, whilst very basic at present, I have started working on this, inspired by my trip to Croatia.</p>
<br />
<p>Here are some Links: <a target="_blank" href="https://www.Duffy.global/V1/Link/">https://www.Duffy.global/V1/Link/</a></p>
<br />
@*
<p>This and the <a target="_blank" href="https://www.Rapture.global/">https://www.Rapture.global/</a> Web Site are best viewed in either the Mozilla Firefox Web Browser or the Microsoft Edge Web Browser. As of 17-April-2021, serious Security Issues have been encountered by me personally with the Google Chrome Web Browser.</p>
<br />
*@
<p>
    And please also check out: <a target="_blank" href="https://www.Boyle.global/">https://www.Boyle.global/</a>
</p>
@*
<p>
    And a fledgling Private Site for myself can be found at: <a target="_blank" href="https://www.Duffy.global/&Eacute;amonn Anthony Duffy/">https://www.Duffy.global/&Eacute;amonn Anthony Duffy/</a>
</p>
*@
<p>Google Photos Album from an Excellent Exodus Croatia Trip 16-23 Sep 2018. <a target="_blank" href="https://photos.app.goo.gl/dxUsHprjnttjKY1H6">https://photos.app.goo.gl/dxUsHprjnttjKY1H6</a></p>
<p>Lovely and memorable place. Lovely and memorable people, which was an added bonus. Thanks to all who were on the trip for making it extra special. And a noteworthy thanks to our Trip Leader, Ivan Rakoni&cacute;. He was fantastic.</p>
<br />
<p>
    Google Photos Albums and YouTube link(s) from yet another Excellent Exodus Trip, this time to Jordan, 20-28 Oct 2018.<br /><br />
    <a target="_blank" href="https://photos.app.goo.gl/gwUAkfSdBjcPQfVn6">https://photos.app.goo.gl/gwUAkfSdBjcPQfVn6</a><br />
    <a target="_blank" href="https://photos.app.goo.gl/Dci2oYJMLe3Me4uG6">https://photos.app.goo.gl/Dci2oYJMLe3Me4uG6</a><br />
    <a target="_blank" href="https://youtu.be/l_lULY_DMSo">https://youtu.be/l_lULY_DMSo</a><br />
</p>
<p>Once again, a lovely and memorable place with lovely and memorable people. And once again a noteworthy thanks to our Trip Leader, Wael Bayaydah. He too was fantastic.</p>
<br />
<p>Sl&aacute;n go f&oacute;ill. (<a target="_blank" href="https://translate.google.com/?q=Sl&aacute;n go f&oacute;ill.&sl=ga&tl=en">https://translate.google.com/?q=Sl&aacute;n go f&oacute;ill.&sl=ga&tl=en</a>)</p><p>&Eacute;amonn Duffy</p>
