@page "{reference?}"
@model Duffy.Pages.V1.LinkModel
@{
    ViewData["Title"] = "In Memory";
}

<div>
    @{
        int number = 0;
    }

    <table>
        <colgroup>
            <col style="width: 30px;" />
            <col style="width: 55px;" />
            <col />
        </colgroup>
        @foreach (var linkInfo in Model.LinkInfoList)
        {
            @if (Model.ShowAll || linkInfo.ShowAlways)
            {
                <tr>
                    <td style="text-align: right;">@number.</td>
                    <td style="text-align: center;">@linkInfo.Reference</td>
                    <td>
                        @if (linkInfo.HttpsAvailable)
                        {
                            <a target="_blank" href="https:@linkInfo.Uri">@linkInfo.Name</a>
                        }
                        else
                        {
                            <a target="_blank" href="http:@linkInfo.Uri">@linkInfo.Name</a>
                        }
                    </td>
                </tr>

                ++number;
            }
        }
    </table>
</div>
